<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= device.version %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= device.status %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= device.category_id %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= device.restaurant_id %>
  </p>

</div>
