<%= form_with(model: restaurant) do |form| %>
  <% if restaurant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :address, class: 'form-label' %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :commune_id, style: "display: block" %>
    <%= form.collection_select :commune_id, Commune.all, :id, :name,
                               { include_blank: 'Seleccionar' },
                               class: 'form-control' %>
  </div>

  <div class="row mt-3">
    <div class="col-3">
      <%= form.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
