<!DOCTYPE html>
<html>
  <head>
    <title>TechnicalTestNiuFoods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Niu Foods</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="flex-shrink-0 p-3">
          <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold">Dashboard</span>
          </a>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Restaurantes
              </button>
              <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li>
                    <a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                      <%= icon("fa-solid", "shop", class: "mx-2") %> Ver
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                      <%= icon("fa-solid", "square-plus", class: "mx-2") %>
                      Crear
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
                Mantenedores
              </button>
              <div class="collapse show" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <% maintainers_list.each_with_index do |maintainer, i| %>
                    <% current = "current" if params[:entity_class] == maintainer || (i.zero? && params[:entity_class].nil?) %>
                    <li>
                      <%= link_to maintainers_path(entity_class: maintainer), class: "link-body-emphasis d-inline-flex text-decoration-none rounded" do  %>
                        <%= icon("fa-solid", "city", class: "mx-2") %> <%= t("maintainers.#{maintainer}") %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%= yield %>
      </main>
    </div>
  </div>
  </body>
</html>
